*{
  /* background-color: #F9F7F2; */
  box-sizing: border-box;
  text-decoration: none;
  font-family: inherit;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #F9F7F2;
  position: relative;
  height: 5000px;
}

.btn {
  width: 180px;
  height: 40px;
  padding: 10px;
  border: 2px solid #999388;
  background-color: #999388;
  /* border-radius: 10px; */
  box-sizing: border-box;
  color: #F9F7F2;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  display: block;
  transition: .4s;
}

.btn:hover {
  width: 180px;
  height: 40px;
  padding: 10px;
  border: 2px solid #5c5850;
  background-color: #5c5850;
  border-radius: 20px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  display: block;
  transition: .4s;
}
/*BACK TO POSITION*/
/* .back-to-position {
  opacity: 0;
  transition-duration: 2.5s;
} */

.back-to-position.to-left-title {
  opacity: 0;

  transition-duration: 2.5s;
  transform: translateX(500px);
}

.back-to-position.to-left-p {
  opacity: 0;
  transition-duration: 3s;
  transform: translateX(500px);
}

.back-to-position.to-left-number {
  opacity: 0;
  transition-duration: 3.5s;
  transform: translateX(500px);
}

.back-to-position.to-right {
  opacity: 0;
  transition-duration: 4s;
  transform: translateX(-600px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-1 { transition-delay: 1s; }
.show .back-to-position.delay-2 { transition-delay:  1.5s; }
.show .back-to-position.delay-3 { transition-delay: .2s; }



/*BACK TO POSITION*/
/* .back-to-position {
  opacity: 0;
  transition-duration: 2.5s;
} */

.back-to-position.to-right-title {
  opacity: 0;
  transition-duration: 2.5s;
  transform: translateX(-500px);
}

.back-to-position.to-right-p {
  opacity: 0;
  transition-duration: 3s;
  transform: translateX(-500px);
}

.back-to-position.to-right-number {
  opacity: 0;
  transition-duration: 3.5s;
  transform: translateX(-500px);
}

.back-to-position.to-left {
  opacity: 0;
  transition-duration: 4s;
  transform: translateX(600px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-1 { transition-delay: 1s; }
.show .back-to-position.delay-2 { transition-delay:  1.5s; }
.show .back-to-position.delay-3 { transition-delay: .2s; }

.month .text-group .btn {
  position: absolute;
  top: 380px;
  margin-left: 20px;

}

.category .text-group .btn {
  margin-left: 20px;
  position: absolute;
  top: 320px;
}



/* ---------------------------- */
a {
  text-decoration: none;
  display: inline-block
}
header {
  z-index: 5;
  background-color: #F9F7F2;
  width: 100%;
  height: 130px;
  position: fixed;
  box-shadow: 0px 1px 1px rgb(230, 226, 220);
  transition: height .5s;
}


.inner {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.inner .sub-menu {
  display: flex;
  justify-content: end;
  font-size: 13px;
}

.inner .sub-menu a {
  color: #79746f;
  /* margin-top: 10px; */
  margin-right: 15px;
  font-weight: 300;
}

.inner .sub-menu a:hover {
  color: black;
  font-weight: 300;
}

.main-menu:hover header {
  height: 200px;
}

.inner .logo img {
  color: #817C71;
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
}

.inner .material-icons {
  color: #BFB6AA;
  position: absolute;
  top: 9px;
  cursor: pointer;

}

.nav {
  list-style: none;
  height: 40px;
  padding: 5px 1px;
  margin: 0;
  background-color: #817C71;
  /* color: #BFB6AA; */
}








.main-menu {
  height: 40px;
  border-top: 1px solid #cfc9c2;
  border-bottom: 1px solid #cfc9c2;
}
.main-menu .menu__content {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  position:absolute;
  top: 80px;
  padding-left: 180px;
}
.main-menu .menu__content > li {
  color: #BFB6AA;

}

.main-menu .menu__content > li > a {
  color: #BFB6AA;
  font-weight: 300;
  cursor: pointer;
  padding: 5px 5px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-menu .menu__content > li > a:hover {
  color: #5c5850;
}

.main-menu .menu__content > li > a:hover .main-menu {
  height: 200px;
}
.main-menu .menu__content .sub-menu  {
  position: absolute;
  z-index: 5;
  top: 30px;
  padding-left: 30px;
  display: none;
}

.category{
  padding-left: 100px;
}

.menu__content .category:hover .sub-menu-1 {
  display: block;
  position: absolute;
  top: 33px;
  background-color: #F9F7F2;
  border-radius: 10px;
  border-top: 1px solid #cfc9c2;
  height: 220px;
  width: 150px;

}


.main-menu .menu__content .sub-menu h4 {
  padding-top: 10px;
  color: #5c5850;
}

.main-menu .menu__content .sub-menu li {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.main-menu .menu__content .sub-menu li > a {
  color: #b9b5aa;
  font-size: 14px;
  font-weight: 300;
  /* position: absolute; */
  /* z-index: 5; */
  /* margin: 0 auto; */
}

.main-menu .menu__content .sub-menu li > a:hover {
  color: #8a8273;
  font-weight: 500;
}












/*YOUTUBE VIDEO*/
.youtube {
  position: relative;
  /* width: 1750px; */
  height: 800px;
  background-color: rgb(196, 190, 177);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  /* margin-right: 20px; */
  margin-top: 20px;
  /* border-radius: 0 50px 50px 0 ; */
}
.youtube .youtube__area {
  width: 1920px;
  height: 1080px;
  box-shadow: #817C71;
  /* margin-top: 10px; */
}
#player {
  width: 100%;
  height: 100%;
  /* position: absolute;
  top: 0;
  left: 0; */
}
.youtube .youtube__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background-color: rgba(0,0,0,.3);
  /* display: none; */
}


/*Article 01*/

.scroll-spy-bg {
  background-color: #FFFDFB;
  height: 650px;
}

.month .product {
  margin-top: 115px;
  margin-left: 200px;
  width: 350px;
}

.month .text-group {
  position: absolute;
  top: 130px;
  left: 700px;
  /* width: 300px; */
}


.category .product {
  position: absolute;
  right: 150px;
  margin-top: 0px;
  /* margin-left: 600px; */
  width: 350px;
}

.category .text-group {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  /* top: 180px; */
  /* left: 1000px; */
  margin-top: 150px;
  margin-left: 450px;
  width: 552px;
}




